
// @mixin styleFont($theme: DarkGray) {
//     background: $theme;
//     box-shadow: 0 0 1px rgba($theme, .25);
//     color: #fff;
//   }
//   @include styleFont($weight:);
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap');
%sizes-shared{
    width: 280px;
    min-height: 178px;
    border-radius: 12px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 1);
}

.Menu{
    
    .header{
        height: 72px;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 24px 0 24px;
        background-image: url("../../assets/suggestions/mobile/background-header.png");
        background-size: cover;
        background-position: center center;
        font-family: 'Jost', sans-serif;
        h1{
           
            font-weight: 700;
            font-size: 24px;
            line-height: 22px;
            letter-spacing: -0.33px;
            line-height: 35px;
            color: #FFFFFF;

        }
        h3{
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            letter-spacing: -0.25px;
            color: #FFFFFF;
            opacity: 0.75;
        }

    }
    .open{
        display: block;
    }
    .close{
        display: none;
    }
    .subMenu{
    position: absolute;
    top: 72px;
    right: 0;
    bottom: 0;
    z-index: 100;
    min-width: 320px;
    text-align: center;
    background-color:rgba(247, 248, 253, 1);
    .filterByCategory{
        @extend %sizes-shared;
        margin:25px auto;
        >span{
            display: inline-block;
            padding: 10px 16px;
            margin:8px;
            border-radius: 6.5px;
            color:rgba(70, 97, 230, 1);
            background-color: rgba(242, 244, 255, 1);
    
        }
        >span:hover{
            background-color:rgba(207, 215, 255, 1);
        }
    }
    .roadMap{
        @extend %sizes-shared;
        margin: auto;
    }
    }
}

// medias
// tablet
@media only screen and (min-width:668px){
    .Menu{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 180px;
        // background-color: blueviolet;
        margin-bottom: 24px;
        .header{
            align-items: flex-end;
            min-height: 178px;
            width: 30%;
            padding-bottom: 24px;
            border-radius: 12px;
            background-image: url("../../assets/suggestions/tablet/background-header.png");

            >div:nth-child(2){
                display: none;
            }

        }
        .subMenu{
            position: initial;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 70%;
            padding: 0 5px;
            background-color: transparent;
            .filterByCategory{
                width: 45%;
                padding: auto;
                >span{
                    display: inline-block;
                    padding: 6px 12px;
                    margin:5px;
                    border-radius: 6.5px;
                    color:rgba(70, 97, 230, 1);
                    background-color: rgba(242, 244, 255, 1);
            
                }

            }
            .roadMap{
                width: 45%;
                padding: auto 5px;
            }
        }

    }

}
// desktop
@media only screen and (min-width:1024px){
    .Menu{
        flex-direction: column;
        width: 25%;
        height: auto;
        overflow-y: hidden;
        .header{
            width: 100%;


        }
        .subMenu{
            flex-direction: column;
            width: 100%;
            .filterByCategory{
                width: 95%;
                padding: 16px 6px;
                >span{
                    padding: 8px 18px;
                    margin: 10px;
                }
            
            }
            .roadMap{
            width: 95%;


            }

        }
    }
    
}